@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $grey;
    font-family: $font-family;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section__margin {
    margin: 0 370px;
}

.section__padding {
    padding: 0 370px;
}

@media screen and (min-width: 1860px){
    .section__margin {
        margin: 0 250px;
    }
    
    .section__padding {
        padding: 0 250px;
    }
    
}